body {
    background-color: #f2f3f2 !important;
}

/*h5 {*/
    /*text-align: center;*/
/*}*/

h3 {
    text-align: center;
}

#title {
    text-align: center;
    height: 100px;
}

#chart-1 {
    /*border: 1px solid black ;*/
    height: 500px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

/*chart 2: map for job opportunities*/
#chart-2 {
    height: 600px;
    /*width: 60%;*/
}