<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis of Recruitment data</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 id="title">Analysis of Recruitment Data</h1>
    </div>
    <div class="col-md-1"></div>
</div>




<!--chart - 4-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3>Salary distribution of all jobs</h3>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div id="chart-4" class="col-md-6">
        <svg id="chart-4-svg" width="960" height="500"></svg>
    </div>
    <div class="col-md-3"></div>
</div>



<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/chart-4-pie.js"></script>

</body>
</html>