<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis of Recruitment data</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
</head>
<body>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 id="title">Analysis of Recruitment Data</h1>
        </div>
        <div class="col-md-1"></div>
    </div>


    <!--chart - 1, pie chart, relation between population and companies -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Quantitative distribution of companies</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div id="chart-1" class="col-md-4 ">

        </div>
        <div class="col-md-4"></div>
    </div>


    <!--chart - 2, Map for job opportunities -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Location distribution of job opportunities</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div id="chart-2" class="col-md-8">

        </div>
        <div class="col-md-2"></div>
    </div>


    <!--chart - 3, Grouped bar char for funding type -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Funding type distribution of companies in main cities</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div id="chart-3" class="col-md-6">
            <svg id="chart-3-svg" width="960" height="500"></svg>
        </div>
        <div class="col-md-3"></div>
    </div>


    <!--chart - 4-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Salary distribution of all jobs</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div id="chart-4" class="col-md-6">
            <svg id="chart-4-svg" width="960" height="500"></svg>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!--chart - 5-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Salary distribution with different experience</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div id="chart-5" class="col-md-8">
            <!--<svg id="chart-5-svg" width="960" height="500"></svg>-->
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--chart - 6-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>What skills you need if you want to be a JAVA developer in your dream company?</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div id="chart-6" class="col-md-6">
            <svg id="chart-6-svg" width="960" height="500"></svg>
        </div>
        <div class="col-md-3"></div>
    </div>

    <script src="/static/js/d3.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/china.js"></script>
    <script src="/static/js/d3tooltip.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/chart-1.js"></script>
    <script src="/static/js/chart-2.js"></script>
    <script src="/static/js/chart-3.js"></script>
    <script src="/static/js/chart-4.js"></script>
    <!--<script src="/static/js/chart-4-pie.js"></script>-->
    <script src="/static/js/chart-5.js"></script>
    <script src="/static/js/chart-6.js"></script>

</body>
</html>